body {
	margin: 0;
	font-family: Nunito;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #1b1c29;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 70px;
}

#logo {
	width: 20%;
}

#nav_bar {
	background-color: white;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: fixed;
}

#nav_container {
	width: 90%;
	margin: auto;
	padding: 0.2em;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar a {
	color: #191e28;
	text-decoration: none;
	list-style: none;
}

#navtags {
	text-decoration: none;
	list-style: none;
	display: flex;
}

#navtags li {
	display: inline;
	margin-right: 15px;
}

#home {
	padding-top: 8em;
	padding-bottom: 2em;
	width: 80%;
	margin: 0 auto;
}

#home h1 {
	font-size: 3em;
}

#timeline {
	padding-top: 1.5em;
	padding-bottom: 3em;
	background-color: #191e28;
	color: white;
	margin: 0 auto;
}

.slide {
	text-align: center;
	width: 100%;
	border-radius: 5px;
}

.slide img {
	border: 5px solid black;
}

#mentor {
	padding-top: 1.5em;
	padding-bottom: 5em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.section-title {
	padding-top: 0.5em;
	padding-bottom: 1em;
	font-size: 1.9em;
	text-align: center;
}

#contact {
	display: flex;
	line-height: 2rem;
	justify-content: space-around;
}

.contact_footer {
	padding-top: 5em;
	padding-bottom: 2em;
	background-color: #191e28;
}

#contact a {
	text-decoration: none;
	list-style: none;
	color: white;
}

.fa-facebook {
	color: #3b5999;
	font-size: 1.5em;
}

.fa-instagram {
	color: #e4405f;
	font-size: 1.5em;
}

.fa-linkedin {
	color: #0e76a8;
	font-size: 1.5em;
}

#contact_des {
	color: white;
	width: 20%;
}

.quick-links {
	list-style: none;
	color: white;
}

.contact-tag li {
	display: inline;
	margin-right: 15px;
}

#landing_page {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#landing_page img {
	width: 100%;
}

#enroll {
	padding: 1em;
	background-color: white;
	border-radius: 5%;
	background-color: #191e28;
	color: white;
	border: none;
}

#enroll:hover {
	transform: scale(1.1);
	transition-timing-function: ease-in-out;
}

#services {
	padding-top: 0.8em;
	text-align: center;
	margin: 0 auto;
	background-color: #191e28;
}

.social_media {
	color: white;
}

#follow_links {
	color: white;
	display: flex;
	align-items: center;
}

.fa-arrow {
	color: black;
}

.arrow-down {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.arrow-down:hover i {
	transform: translate(0px, 5px);
	transition: 0.2s;
}

#arrow {
	background-color: white;
	border: none;
	font-size: 3em;
	outline: none;
}

#package {
	padding: 2.5em 0 10em 0;
	margin: 0 auto;
}

#pricing {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-around;
}

.package {
	background-color: white;
	color: #191e28;
	padding: 4em 3em 4em 3em;
	text-align: center;
	border-radius: 10px;
	line-height: 3em;
}

.basic {
	box-shadow: -1em 1em black;
	border: 2px solid black;
}

.advanced {
	box-shadow: -1em 1em #dd0000;
	border: 2px solid #dd0000;
}

.premium {
	box-shadow: -1em 1em #ffce00;
	border: 2px solid #ffce00;
}

.basic h3 {
	background-color: black;
	padding: 0.1em 0.5em 0.1em 0.5em;
	color: white;
	border-radius: 5px;
}

.advanced h3 {
	background-color: #dd0000;
	padding: 0.1em 0.5em 0.1em 0.5em;
	color: white;
	border-radius: 5px;
}

.premium h3 {
	background-color: #ffce00;
	padding: 0.1em 0.5em 0.1em 0.5em;
	color: white;
	border-radius: 5px;
}

.mentor-grid {
	display: grid;
	grid-row: auto auto;
	grid-template-columns: 25em 25em 25em;
	grid-column-gap: 0.2em;
	grid-row-gap: 4em;
	justify-content: center;
}

.mentor-grid img {
	width: 60%;
	border-radius: 50%;
	border: 2px solid #191e28;
}

.box {
	text-align: center;
}

.blog-cards {
	display: flex;
	padding-top: 3em;
	padding-bottom: 3em;
	justify-content: space-around;
}

.blogs {
	background-color: #191e28;
	text-align: center;
	width: 20%;
	padding-top: 10em;
	padding-bottom: 10em;
	padding-left: 2em;
	padding-right: 2em;
	color: white;
	border-radius: 10px;
}

[data-component="slideshow"] .slide {
	display: none;
}

[data-component="slideshow"] .slide.active {
	display: block;
}

.copyright {
	color: white;
	text-align: center;
	padding-top: 2em;
}
